.booked{
    height: 100%;
    background: url(bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


  
  .card{
    transition: transform .3s ease;
  }
  .card:hover{
    transform: scale(1.1);
  }
  button{
    transition: transform .3s ease;
  }
  button:hover{
    transform:  scale(1.1);
  }