.booked{
    height: 100%;
    background: url(bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


#txt{
    color: #fff; 
    padding-top: 268px; 
    font-family: jost,sans-serif; 
    font-size: 70px;
}

  .card{
    transition: transform .3s ease;
  }
  .card:hover{
    transform: scale(1.1);
  }
  button{
    transition: transform .3s ease;
  }
  button:hover{
    transform:  scale(1.1);
  }

  @media (max-width:401px),(max-height:701px){
    #txt{
        font-size: 35px;
    }
  }